html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */
.main{
  background-image:url(https://prog-8.com/images/html/advanced/top.png);
  background-size:cover;
  padding:180px 0  100px 0;
  text-align:center;
}

.main-logo{
  opacity:0.7;
  color:white;
}

.main-logo h1{
  font-size:45px;
  letter-spacing:5px;
  font-weight:bold;
}

.form{
  margin-top:40px;
}

.sign {
  color:white;
  padding:8px 24px;
  background-color:#239b76;
  opacity:0.8;
  margin-top:30px;
}

.form p{
  color:white;
  margin:15px;
}

.facebook{
  color:white;
  padding:8px 24px;
  background-color:#3b5998;
  opacity:0.8;
}

.twitter{
  color:white;
  padding:8px 24px;
  margin-left:10px;
  background-color:#55acee;
  opacity:0.8;
}
